################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Smart-Mirror.pyproj
/Smart-Mirror.sln
/.vs/Smart-Mirror/v14/.suo
